.navbar-left {
    float: left !important;
    margin-top: 4px;
}
.navbar-nav {
    float: left;
    margin-top: 12px;
}
.navbarapp-nav {
    margin: 7.5px -15px;
    margin-top: 38px;
}
.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

img {
    vertical-align: middle;
    margin-top: 3px;
}

#list_quizzes {
	margin-left: -11px;
	margin-top: 21px;
}

#list_quizzes .itemList {
    list-style: none;
}

#list_question {
    margin-left: -11px;
    margin-top: 21px;
}

#list_question .questionList {
    list-style: none;
}

.optionList{
    list-style: none;
}

.optionWrapper_3 {
    column-count: 3;
}

.optionWrapper_2 {
    column-count: 2;

    /*column-gap: 5px;*/
}




.button {
    margin-left: 217px;
    margin-top: 18px;
}
.relatedQuiz
{
    list-style: none;
}


