<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Fun Quiz | Womantalk Intern Division</title>
    <link rel="icon" type="image/png" th:href="@{images/titlewt.ico}" />

    <!-- meta tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- //meta tags -->

    <!-- Custom Theme files -->
    <link th:href="@{css/bootstrap.css}" type="text/css" rel="stylesheet" media="all"/>
    <link th:href="@{css/style.css}" type="text/css" rel="stylesheet" media="all"/>
    <link th:href="@{css/app.css}" type="text/css" rel="stylesheet" media="all"/>
    <link th:href="@{css/content.css}" type="text/css" rel="stylesheet" media="all"/>
    <link rel="stylesheet" th:href="@{css/flexslider.css}" type="text/css" media="screen" />
    <link th:href="@{css/font-awesome.css}" rel="stylesheet"/>
    <!-- //Custom Theme files -->

    <!-- js -->

    <!-- //xjs -->
    <script th:src="@{js/jquery-1.11.1.min.js}"></script>

</head>

<body>
<!-- header -->
<div class="header">
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-left">
                <h1><a href="index.html"><img src="images/womantalk.png" width="70%" height="5%"/></a></h1>
            </div>
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="index.html">HOME</a></li>
                    <li><a href="https://womantalk.com/" class="link link--yaku">ABOUT US</a></li>
                    <li><a href="https://womantalk.com/" class="link link--yaku">PAGES</a></li>
                    <li><a href="https://womantalk.com/" class="link link--yaku">GALERY</a></li>
                    <li><a href="https://womantalk.com/" class="link link--yaku">CONTACT US</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<!-- //header -->

<!-- Content -->
<div id="content-wrapper">
    <div id="content">
        <div class="container">
            <div class="row">
                <div class="9u 12u(mobile)">
                    <section>

                        <div id="list_question">
                        </div>

                    </section>
                </div>

                <div class="3u 12u(mobile)">
                    <section>
                        <header>
                            <h3 class="w3ltitle">Related <span>Quiz</span></h3>
                        </header>

                        <div class="w3ls-pince">
                            <h4><a href="#"><div id="trendingQuiz"></div></a></h4>
                        </div>

                    </section>
                </div>
            </div>
        </div>
    </div>
</div>
<!--content-->

<!-- footer -->
<div class="footer">

    <!-- copy-right -->
    <div class="copy-right agileits-w3layouts">
        <div class="container">
            <p><b>© 2017 WomanTalk Intern Division</b></p>
        </div>
    </div>
    <!-- //copy-right -->
</div>
<!-- //footer -->
<!-- start-smooth-scrolling-->
<script type="text/javascript" th:src="@{js/move-top.js}"></script>
<script type="text/javascript" th:src="@{js/easing.js}"></script>
<script type="text/javascript">
    jQuery(document).ready(function($) {
        $(".scroll").click(function(event){
            event.preventDefault();

            $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
        });
    });
</script>
<!-- //end-smooth-scrolling -->
<!-- smooth-scrolling-of-move-up -->
<script type="text/javascript">
    $(document).ready(function() {
        /*
         var defaults = {
         containerID: 'toTop', // fading element id
         containerHoverID: 'toTopHover', // fading element hover id
         scrollSpeed: 1200,
         easingType: 'linear'
         };
         */

        $().UItoTop({ easingType: 'easeOutQuart' });

    });
</script>
<!-- //smooth-scrolling-of-move-up -->
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script th:src="@{js/bootstrap.js}"></script>
<!--<script th:src="@{js/pages/main.js}"></script>-->
<script th:src="@{js/pages/script.js}"></script>
<script th:src="@{js/pages/question.js}"></script>

</body>
</html>